@model Book

<form asp-action="Create" asp-asp-controller="Book" method="post" aria-placeholder="zaaaaa">
    <div class="mb-3">
        <label asp-for="Title" class="form-label">Kitabın Adı</label>
        <input asp-for="Title" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Author" class="form-label">Yazar</label>
        <input asp-for="Author" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="PublicationYear" class="form-label">Yayın Yılı</label>
        <input asp-for="PublicationYear" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Category" class="form-label">Kategori</label>
        <input asp-for="Category" class="form-control">
    </div>
   
    <button type="submit" class="btn btn-secondary">Kaydet</button>


</form>

