html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

#carouselExampleIndicators {
  max-width: 950px;
  /* Slider genişliğini küçült */
  max-height: 400px;
  /* Slider yüksekliğini küçült */
  margin: 0 auto;
  /* Ortalamak için */
}

#carouselExampleIndicators .carousel-inner img {
  max-height: 400px;
  /* Resimlerin maksimum yüksekliğini sınırla */
  object-fit: cover;
  /* Resmin taşmasını engelleyip kırpar */
}